<%= simple_nested_form_for @device, :html => {:multipart => true}  do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
	<%= f.input :name %>
	<%= f.input :function %>
	<%if !session[:follow_workflow] == true%>
	<%if current_user.has_role? :admin%>
	Company
	<br />
	<%= f.select( :company_id, Company.all.collect {|c| [c.name, c.id]}, {:include_blank => 'None'})%>
	<br />
	<%end%>
	Associated Upload File
	<br />
<!-- 	<div id="uploads"> -->
		<%= f.fields_for :uploads do |upload| %>
			<%= upload.input :file, :input_html => { :class => 'form-' }%>
			<%= link_to("Remove", "#delete", :class => "delete-upload") %>
		<% end %>
		<p><%= f.link_to_add "Add an upload", :uploads %></p>
<!-- </div> -->
	<div>
		<%= submit_tag "Upload" %>
		<%= link_to "Add Another", "#add", :id => "add-another" %>
	</div>
	<%end%>
</div>

<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>
