<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Function:</b>
  <%= @device.function %>
</p>
<p>
  <b>File(s):</b>
  <%@device.uploads.each do |upload|%>
  <%= 
  upload.file_file_name
  %>
  <%end%>
</p>

<p>
  <b>Company:</b>
  <%= @device.company.name %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
