<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Function:</b>
  <%= @device.function %>
</p>
<p>
  <b>File:</b>
  <%= Upload.find(@device.upload_id).name %>
</p>

<p>
  <b>Company:</b>
  <%= @device.company.name %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
